@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function Login() {
        var newData = {
            "email": $('#email').val(),
            "password": $('#passwork').val(),
            "rememberMe": $('#rememberMe').val(),
        }
        console.log(newData);
        alert(newData);
        var dataJson = JSON.stringify(newData);
        $.ajax({
            type: "POST",
            datatype: "json",
            url: "https://localhost:5000/Account/LoginAccout",
            contentType: "application/json; charset=utf-8",
            data: dataJson,
            success: function (result) {
                if (result.StatusCode == 200) {
                    window.location.href = "/User/Index";
                    console.log(data); //just to show that it went through
                } else {
                    alert("Login fail!");
                }
            }
        });
    }
</script>
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                                 @using (Html.BeginForm("Login", "Account"))
        {
                <form>
                    <div class="mail_section" style="text-align:center !important;">
                        <h1 class="contact_taital">LOGIN</h1>
                        <input type="text" class="email_text" id="email" placeholder="Enter Email....." name="email">
                        <input type="password" class="email_text" id="passwork" placeholder="Enter Passwork...." name="passwork">
                        <input type="checkbox" class="email_text" id="rememberMe" name="passwork">
                        <div style="margin-top:15px;">
                            <a href="@Url.Action("RegisterUser", "Account")"><b>register account?</b></a>
                        </div>
                        <a href="@Url.Action("Login", "Account")"> <button class="btn_login" type="submit" onclick="Login()">Login</button>@*</a>*@
                    </div>
                </form>
                  }
            </div>

        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="~/images/footer-logo.png"></a></div>
        <div class="footer_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="contact.html">contact us</a></li>
            </ul>
        </div>
        <div class="contact_menu">
            <ul>
                <li><a href="#"><img src="~/images/call-icon.png"></a></li>
                <li><a href="#">Call : +01 1234567890</a></li>
                <li><a href="blog.html"><img src="~/images/mail-icon.png"></a></li>
                <li><a href="features.html">demo@gmail.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">Copyright 2020 All Right Reserved By.<a href="https://html.design"> Free  html Templates</a></p>
    </div>
</div>

